# Recipe book

## Content

Voici le recipe book!

In [1]:
# Import usual modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Import recipebook data
from recipebook.data import Data
from recipebook.recipe import Recipe
from recipebook.ingredient import Ingredient

## Dataset global

Reconstituer le dataset global sous forme d'un dictionnaire où les clés sont les noms des tables au singulier (ingredient, recipe, recipe_item) et les valeurs sont les dataframes associées à chacune de ces tables.

In [3]:
df = Data('C:/Users/utilisateur/anaconda3/recipes-project/data/csv/').get_data()
df.keys()

dict_keys(['ingredient', 'recipe', 'recipe_items'])

In [4]:
# df

## Les ingredients

In [5]:
ingredients = df['ingredient']
ingredients

{'Id': 0      1
 1      2
 2      3
 3      4
 4      5
 5      6
 6      7
 7      8
 8      9
 9     10
 10    11
 11    12
 12    13
 13    14
 14    15
 Name: Id, dtype: int64,
 'Nom': 0            Pattes
 1              beuf
 2            Tomate
 3           Oignon
 4        Champignon
 5          béchamel
 6           fromage
 7              Lait
 8         Courgette
 9               riz
 10           poulet
 11          poivron
 12     Haricot vert
 13    Haricot blanc
 14             Oeuf
 Name: Nom, dtype: object,
 'Score': 0     1
 1     2
 2     3
 3     4
 4     5
 5     1
 6     2
 7     3
 8     4
 9     5
 10    1
 11    2
 12    3
 13    4
 14    5
 Name: Score, dtype: int64}

In [6]:
do = Data('C:/Users/utilisateur/anaconda3/recipes-project/data/csv/')

In [7]:
list_dframes = do.list_data()

In [8]:
ingredient = do.get_ingredient(list_dframes)
ingredient.head()

   Id         Nom  Score
0   1      Pattes      1
1   2        beuf      2
2   3      Tomate      3
3   4     Oignon       4
4   5  Champignon      5

In [9]:
recipe = do.get_recipe(list_dframes)
recipe.head()

   Id  ingredient_id  recipe_id  Quantity     Unit
0   1              1          1        10  Plaques
1   2              2          1       600        g
2   3              3          1       500        g
3   4              4          1         3   Unités
4   5              5          1       200        g

In [10]:
recipe_items = do.get_recipe_items(list_dframes)
recipe_items.head()

   Id                name cooking_time  Nbr de personne
0   1            lasagnes           1h                4
1   2  Flan de courgettes        45min                6
2   3               Paela           1h                6

In [11]:
df2 = do.get_merge_ordered_data(recipe, ingredient, recipe_items)

In [12]:
df2.head()

,Id,ingredient_id,recipe_id,Quantity,Unit,Nom,Score,name,cooking_time,Nbr de personne
0,1,1.0,1.0,10.0,Plaques,Pattes,1.0,lasagnes,1h,4
1,2,1.0,1.0,10.0,Plaques,beuf,2.0,Flan de courgettes,45min,6
2,2,2.0,1.0,600.0,g,beuf,2.0,Flan de courgettes,45min,6
3,3,1.0,1.0,10.0,Plaques,Tomate,3.0,Paela,1h,6
4,3,2.0,1.0,600.0,g,Tomate,3.0,Paela,1h,6

### Ingredient popularities

ingredient_popularities est un df avec toutes les séries du dataframe de ingredients auquel vient s'ajouter deux colonnes:

- une colonne specifiant le nombre de fois d'un ingredient est apparu dans une recette
- une colonne specifiant 1 si le nombre est > 1 et sinon 0

In [13]:
# ingredient_popularities = Ingredient().get_with_popularities
# ingredient_popularities.head()

In [14]:
ingredient_popularities = Ingredient(df2).get_with_popularities(df2,'name', 'Nom','ingredient_id')
ingredient_popularities.head()

,Id,ingredient_id,recipe_id,Quantity,Unit,Nom,Score,name,cooking_time,Nbr de personne,occurrence,apparition
0,1,1.0,1.0,10.0,Plaques,Pattes,1.0,lasagnes,1h,4,2.0,1.0
1,2,1.0,1.0,10.0,Plaques,beuf,2.0,Flan de courgettes,45min,6,5.0,1.0
2,2,2.0,1.0,600.0,g,beuf,2.0,Flan de courgettes,45min,6,9.0,1.0
3,3,1.0,1.0,10.0,Plaques,Tomate,3.0,Paela,1h,6,12.0,1.0
4,3,2.0,1.0,600.0,g,Tomate,3.0,Paela,1h,6,11.0,1.0

## Les recipes

In [15]:
recipes = df['recipe']
recipes

{'Id': 0    1
 1    2
 2    3
 Name: Id, dtype: int64,
 'name': 0              lasagnes
 1    Flan de courgettes
 2                 Paela
 Name: name, dtype: object,
 'cooking_time': 0       1h
 1    45min
 2       1h
 Name: cooking_time, dtype: object,
 'Nbr de personne': 0    4
 1    6
 2    6
 Name: Nbr de personne, dtype: int64}

### Scored recipes

scored_recipes est un dataframe contenant deus séries:

- le nom de la recipe
- le score total associé à une recette 

Le score d'une recipe et la moyenne des scores des ingedients qui la compose

In [16]:
# scored_recipes = Recipe().get_scored_recipes
# scored_recipes.head()

In [17]:
# Totale score recipes
scored_recipes = Recipe(ingredient_popularities).get_scored_recipes()
scored_recipes.head()

   recipe_id                name     Score
0        1.0  Flan de courgettes  2.000000
1        1.0               Paela  3.169014
2        1.0            lasagnes  1.000000
3        2.0  Flan de courgettes       NaN
4        2.0               Paela  3.333333

In [ ]:
# moyenne score recipes
scored_recipes = Recipe(ingredient_popularities).get_moy_scored_recipes()
scored_recipes.head()