In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from recipebook.data import Data
from recipebook.recipe import Recipe
from recipebook.ingredient import Ingredient

In [2]:
df = Data("..\data\csv")

In [25]:
import glob
meteo_data = []
for infile in glob.glob("..\data\csv\*.csv"):
    data = pd.read_csv(infile, sep = ';')
    # store DataFrame in list
    meteo_data.append(data)
# print(meteo_data)
# see pd.concat documentation for more info
meteo_data = pd.concat(meteo_data).dropna(axis='columns', how='all')
meteo_data.head()

,Id,Nom,Score,name,cooking_time,Nbr de personne,ingredient_id,recipe_id,Quantity,Unit
0,1,Pattes,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,beuf,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Tomate,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Oignon,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Champignon,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
def drop_missing_features(data):
        return data[data.columns[data.isna().sum()/data.shape[0] <0.9]]

In [18]:
meteo_data = drop_missing_features(meteo_data)
meteo_data.head()

   Id         Nom  Score  ingredient_id  recipe_id  Quantity Unit
0   1      Pattes    1.0            NaN        NaN       NaN  NaN
1   2        beuf    2.0            NaN        NaN       NaN  NaN
2   3      Tomate    3.0            NaN        NaN       NaN  NaN
3   4     Oignon     4.0            NaN        NaN       NaN  NaN
4   5  Champignon    5.0            NaN        NaN       NaN  NaN